@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override base SVG style to work with Ant Design if using external icon sets */
svg {
  vertical-align: initial;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  padding: 0px;
}

.sider-enter {
  left: -200px !important;
  /* Assuming the width of the Sider is 200px */
  transition: left 0.3s ease-out;
}

.sider-enter-active {
  left: 0;
}

@layer components {
  .brand-logo-sidebar {
    @apply border-b border-gray-300 flex pb-4 !px-0 !pt-0 items-center gap-x-[106px] self-stretch;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .ltv-search-popup {
    @apply !border-none;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
  }


  .ltv-custom-search-override {
    @apply border-gray-300 bg-white pl-[13px] pt-[10px];
    background-color: #ffffff;
    color: black;
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.08);
    font-weight: 400;
    font-size: 16px;
    line-height: normal;

  }

  .asset-override-filter-button {
    @apply px-4 py-2 rounded text-sm bg-nomura-off-white text-black border-none cursor-pointer min-w-[104px];
    text-decoration: none;

    @apply hover:bg-gray-200;

    @apply active:bg-gray-300;

  }

  .asset-override-filter-button-active {
    @apply asset-override-filter-button border border-solid bg-light-red font-bold border-nomura-red;

    @apply hover:bg-red-100;

    @apply active:bg-red-200;
  }

  .asset-add-override-button {
    @apply flex w-40 h-12 py-4 px-6 rounded justify-center items-center gap-2  border-none font-bold text-base text-white;
  }
}

.btn-red {
  color: #fff;
  background-color: #c92420 !important;
  box-shadow: 0 2px 0 rgba(255, 55, 5, 0.06);
  border-radius: 0px !important;
}

.bg-grey{
  background-color: gray;
}

/* .ltv-override-filter-button , .ltv-override-filter-button:hover, .ltv-override-filter-button:focus, .ltv-override-filter-button:active {
  text-decoration: none;
  color: inherit;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.ltv-search-input-parent .ant-select-selection-search-input {
  height: 50px !important;
}

.ltv-search-popup::before {
  display: block;
  width: 250px;
  /* Adjust the width as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--Nomura-Off-Gray, #D1D3D4);
  /* Nomura/14px - Regular */
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
  padding-top: 1px;
  padding-bottom: 0px;
}


.logo-bannar::before {
  content: '';
  position: absolute;
  top: 0px;
  right: -12px;
  border-style: solid;
  border-width: 0 50px 65px 0;
  border-color: transparent #ffffff transparent transparent;
  transform: skewX(-20deg);
}
.asset-add-override-button {
  display: flex;
  height: 3rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(215 17 51 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}